@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: 'caviar_dreamsbold';
	src: url('fonts/caviar_dreams_bold-webfont.woff2') format('woff2'),
         url('fonts/caviar_dreams_bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
body  {
	background-color: white;
	
}
.homebg {
	background-image: url(../images/beachbackground.jpg);
	height: 300px;
	
}


.innerheader {
	background-color: rgba(255,255,255,.50);
	font-family: dr-sugiyama;
	color: rgba(0,206,179,1.00);
	height: 100px;
	font-style: normal;
	font-weight: 400;
}



.btn-group {
	color: rgba(0,209,182,1.00);
    background-color: rgba(135,205,188,1.00);
    height: 20px;
    
}

.btn {
    background-color: rgba(135,205,188,1.00);
    color: black;
    font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
    font-size: 17px;
    
}

.spacer {
    height: 50px;
    
}

.image-design {
	margin-bottom: 20px;
	border: 3px solid rgba(11,136,222,1.00); 
    
}

.image-writing {
    margin-bottom: 30px;
    border: 3px solid rgba(12, 201, 232, 1.00);
}

.image-usability {
	margin-bottom: 30px;
	border: 3px solid rgba(11,232,75,1.00);
	  
}

.portfoliopic {
	alignment: center;
	margin-bottom: 20px;
	margin-top: 20px;
	
}
.resume {
    align: center;
   
    
}

.portfoliosec{
    text-align: center;
    font-size: 40px;
    font-family:Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
}
.foot {
    background-color: rgba(135,205,188,1.00);
}