@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: 'caviar_dreamsbold';
	src: url('fonts/caviar_dreams_bold-webfont.woff2') format('woff2'),
         url('fonts/caviar_dreams_bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
body  {
	background-color: white;
	
}
.homebg {
	background-image: url(../images/beachbackground.jpg);
	height: 300px;
	
}


.innerheader {
	background-color: rgba(255,255,255,.50);
	font-family: dr-sugiyama;
	color: rgba(0,206,179,1.00);
	height: 100px;
	font-style: normal;
	font-weight: 400;
}


.btn-group {
	color: rgba(0,209,182,1.00);
}
	
.btn-default {
	color: teal;
}

.img-rounded {
	margin-bottom: 20px;
}

.portfoliopic {
	align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	
}